* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Main page colors */
    --main-accent: #11A9FE;
    --main-bg: #11A9FE21;
    --page-bg: #eeeeee;
    --dark-accent: #333;

    /* Indicator colors */
    --safe-green: #00FF66;
    --sensor-bg: #e4e4e4;
    --warning--orange: rgb(252, 215, 146);
    --danger-red: #fa6868;
    --danger-bg: #ff000021;
    
    /* Interactive elements */
    --primary-button: rgba(66, 165, 218, 0.342);
    --primary-hover: #149be9;
    --secondary-button: rgba(230, 230, 230, 0.815);
    --secondary-hover: rgb(255, 255, 255);


}

html {
    font-size: 62.5%;
    /* 10px = 1rem */
}

.body {
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #eee;
    font-size: 1.6rem;
}

/* page classes, used for <main> tags per page */

.main {
    width: 75%;
    margin: 2rem auto;
    display: flex;

}

.main--dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem auto;

}

.main--create{
    width: 75%;
}

/* Index CSS */
.page-header {

    height: 10vh;
    width: 100%;
    padding: 0 1rem;
    position: relative;
    background-color: var(--main-accent);
    border-bottom: 0.1rem solid black;
}

.page-header__link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: revert;
    width: 100%;
    height: 100%;
    color: black;
}

.page-header__link:visited {
    color: black;
}

.page-header__heading {
    font-size: 3rem;
}

.page-header__figure {
    position: absolute;
    left: 2rem;
    height: 100%;
    width: 10%;
}

.page-header__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}


/* sidenav styling */
.sidenav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 1rem;

    width: 16rem;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 15rem;
    /* Stay at the top */

    padding: 2rem;
    border-radius: 0 0.5rem 0.5rem 0;
    height: 66rem;
}

.sidenav__link {
    text-decoration: none;
    color: black;
    flex-grow: 1;
    height: 100%;
    width: 100%;
}


.sidenav__items {
    list-style: none;
    width: 100%;
    height: 100%;
    border: 0.1rem solid black;
    cursor: pointer;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
}

.sidenav__items:hover {
    border-style: inset;
    border: 3px solid var(--main-accent);
}

.sidenav__figure {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    height: 100%;
    width: 100%;
}

.sidenav__img {
    object-fit: contain;
    height: 75%;
    width: 75%;
}

/* .sidenav__img--smaller{
    height: 60%;
    width: 100%;
} */

.sidenav__text {
    height: 25%;
    width: 100%;
}

/* rooms */

.room-section {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    width: 75%;
    margin: 2rem auto;
    height: 100%;

}


.room {
    /* One single space == .room */
    display: flex;
    flex-flow: column;
    justify-content: stretch;
    align-items: stretch;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--main-bg);
    border-radius: 1rem;
}

.room--alert {
    border-color: var(--danger-red);
    background-color: var(--danger-bg);
}

.room__header {
    /* Room Name */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;


    width: 100%;
    max-width: 100%;
    padding-left: 1rem;

}

.room__heading {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
    
    font-size: 2.8rem;
}

/* The container in which the room-sensors are displayed. */
.room__sensors {
    /* Room -> Sensors */
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    height: auto;
    width: 100%;
}

/* room extended view styling*/
.room__detailed {
    height: auto;
    max-width: 60%;
    border: 1px solid black;
    margin: 6rem auto;
    border-radius: 1rem;
}


/* room grid styling */
.room__grid {
    display: none;
    border: 0.1rem solid black;
    min-height: 50vh;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 90%;
    margin: 2rem auto;
}

.room__grid--visible{
    display: grid;
}


.grid__item{
    height: 100%;
    width: 100%;
}

.grid__item--sensor{ 
    background-color: green;
}

.grid__item--furniture{
    background-color: gray;
}



.grid__input {
    display: block;
    margin: auto;
    width: 50%;
}


.room__buttons {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;

}

.room__buttons--grid{
    justify-self: end;

}

.room__button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 10rem;
    height: 5rem;
    font-size: 1.6rem;
    background-color: var(--primary-button);
    cursor: pointer;
    
    box-shadow: 0 0.2rem 0.2rem rgba(11, 11, 11, 0.2);
    border: none;
}

.grid__item-filled{
    background-color: var(--safe-green);
}

.room__button:visited,
.room__button:active{
    color: black;
}

.room__button:hover{
    background-color: var(--primary-hover);

}


.roomcard__text {
    font-size: 2rem;
    margin: 1rem;
}


/* Single sensor*/
.sensor {
    display: flex;
    flex-flow: column nowrap;
    height: 20rem;
    max-height: 100%;
    min-width: 10rem;
    max-width: 30rem;
    flex-grow: 1;


    margin: 1rem;
    background-color: var(--sensor-bg);
}

.sensor--warning {
    background-color: var(--warning--orange);

}

.sensor--alert {
    background-color: var(--danger-red);
    font-weight: 600;

}

.sensor__name {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1rem;

    height: 25%;
    width: 100%;

    background-color: var(--dark-accent);
    font-size: 2.4rem;
    color: #eeeeee;
}



/* Sensor Description */

.sensor__readout {
    padding: 1rem;
    width: 100%;
    height: 75%;
    display: flex;
    flex-flow: row nowrap;
}

/* Sensor Icon */

.sensor__figure {
    width: 25%;
    height: 100%;
}

.sensor__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}


.sensor__value {
    width: 75%;
    height: 100%;
    font-size: 3rem;
}

.sensor__buttons{
    font-weight: 600;
    display: flex;
    flex-flow: row;

    width: 100%;
    height: 4rem;


    text-decoration: none;
}

.sensor__form{
    width: 100%;
}

.sensor__button{
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: var(--secondary-button);
    border: 0.1rem inset;
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
}

.sensor__button:hover{
    background-color: var(--secondary-hover);
    cursor: pointer;

}

/* card styling */
.room__card {
    display: block;
    width: 80%;
    height: 80vh;
    margin: auto;
}

.temp__button {
    width: 50%;
    height: 3rem;
}

/* Table styling */

.table {
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
    width: 50%;
    height: auto;
    padding: 1rem;
    margin: 2rem auto;
    box-shadow: 0 1rem 2rem rgba(11, 11, 11, 0.2);
}

.table__table {
    display: flex;
    align-items: start;
    justify-content: start;
}

/* Form Styling */


.form {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    width: 70%;
    margin: 0 auto;

    flex-direction: column;
    box-shadow: 0 1rem 2rem rgba(11, 11, 11, 0.2);
}

.form__sensors{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form__form {
    height:100%;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.form__form:not(first){
    margin-bottom: 2rem;
}


.form__heading {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 2.2rem;
}

.form__description > p{
    margin-bottom: 2rem;

}

.form__section:not(first) {
    margin-top: 2rem;
    display: flex;
    flex-flow: column nowrap;

}

.form__label {
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}


.form__input {
    width: 100%;
    height: 4rem;
    z-index: 2;
    padding-left: 1rem;
}

.form__input--error {
    border-color: var(--danger-red);
}

.form__select{
    height: 4rem;
}

.form__option{
    height: 4rem;
}

.form__input--confirmation {
    border-color: var(--safe-green);
}

.form-grid {
    display: none;
    border: 0.1rem solid black;
    min-height: 50vh;
    gap: 0.1rem;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 90%;
    margin: 2rem auto;
}

.form-grid--visible{
    display: grid;
}

.form-grid__item{
    width: 100%;
    height: 100%;
    background-color: #eee;
    border: 0.1rem solid black;
    cursor: pointer;
    transition: 0.2s background-color linear;
}



.form-grid__item:hover{
    background-color: rgba(100, 139, 190, 0.45);
}

.form__alert {
    background-color: var(--danger-red);
    width: 100%;
    padding: 1rem 0.5rem;
}

.form__confirmation {
    background-color: var(--safe-green);
    width: 100%;
    padding: 1rem 0.5rem;
}

.form__alert>p {
    color: white;
}

.form__buttons{
    display: flex;
    flex-flow: row;
    background-color: pink;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form__button {
    height: 4rem;
    background-color: var(--primary-button);
    width: 100%;
    font-size: 1.8rem;
}

.form__button:hover {
    background-color: var(--primary-hover);
    cursor: pointer;
}




/* Utility */

/* utility classes */
.u-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.u-box-shadow {
    box-shadow: 0 0.5rem 2rem black;
}

*:focus-visible{
    border: 0.5rem #ff3b3b;
}

/* Media query */
@media only screen and (max-width: 40rem) {
    .page-header__img {
        display: none;
    }
}


@media only screen and (max-width: 64rem) {

    .main{
        width: 50%;
        flex-direction: column;
        margin-bottom:10vh;
    }
    
    .room-section {
        min-height: 100%;
    }

    .page-header__figure {
        object-fit: contain;
    }

    .sidenav {
        /* Flex */
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        /* Document positioning */
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        gap: 0;

        /* Block sizing */
        width: 100%;
        height: 10vh;
        padding: 0rem;
        margin-top: 10vh;
        /* Styling */
        background-color: #eeeeee;

        border-radius: 0;

        /* padding: 0.5rem; */
    }

    .sidenav__items {
        padding: 0rem;
        margin: 0rem;
    }

    .sidenav__figure {
        margin: 0;
        height: 100%;
        width: 100%;
    }

    .sidenav__img {
        height: 100%;
        width: 100%;

    }

    .sidenav__text {
        font-size: 1rem;
    }

    .room-section {
        width: 100%;
    }

}


@media only screen and (max-width: 89rem) {

    .form{
        width: 100%;
    }

   .main{
        width: 75%;
    }

    .room-section {
        grid-template-columns: 1fr;
    }

}