* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --safe-green: #00FF66;
    --warning--orange: orange;
    --danger-red: #ff3b3b;
    --danger-bg: #ff000021;   
    --main-accent: #11A9FE;
    --main-bg: #11A9FE21;
    --page-bg: #eeeeee;    
    --dark-accent: #333;
    --sensor-bg: #cccccc;

}

html{
    font-size: 62.5%; /* 10px = 1rem */
}

.body{
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #eee;
    font-size: 1.6rem;
}

/* Index CSS */
.page-header{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    padding: 0 1rem;
    position:relative;
    top: 0;
    background-color: var(--main-accent);
}

.page-header__heading{
    font-size: 3rem;
    float:right;
}
.page-header__img{
    position: absolute;
    left: 0;
    top: 0;
}

/* sidenav styling */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 15rem; /* Stay at the top */
    left: 0;
    background-color: #11A9FE;
    border: 1px solid black;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

/* rooms */

.room-section{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    align-content: start;
    gap: 1rem;
    width: 100%;
    margin: 1rem auto;
    padding:1rem;
    height: 100%;
}


.room{ 
    /* One single space == .room */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: max-content;
    gap: 1rem;
    padding: 1rem 0;
    background-color: #11A9FE21;
    border-radius: 1rem;
}

.room--alert{
    border-color: var(--danger-red);
    background-color: var(--danger-bg);
}

.room__header{ 
    /* Room Name */
    display: flex;

    justify-content: start;   
    align-items: center;

    height: 10%;
    max-height: 10%;
    width: 100%;
    padding-left: 1rem;

}

.room__heading{
    font-size: 2.8rem;
}

.room__sensors{ /* Room -> Sensors */
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    align-content: start;
    height: 90%;
    width: 100%;
    gap: 1rem;
}

/* Single sensor*/
.sensor{
    display: flex;
    flex-flow: column nowrap;
    height: 20rem;
    max-height: 100%;
    width: 95%;
    max-width: 60rem;
    margin: 1rem;
    background-color: var(--sensor-bg);
}

.sensor--warning{
    background-color: var(--warning--orange);
}

.sensor--alert{ 
    background-color: var(--danger-red);
    font-weight: 600;
}

.sensor__name{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1rem;

    height: 25%;
    width: 100%;
    
    background-color: var(--dark-accent);
    font-size: 2.4rem;
    color: #eeeeee;
}



/* Sensor Description */

.sensor__readout{
    padding: 1rem;
    width: 100%;
    height: 75%;
    display: flex;
    flex-flow: row nowrap;
}

/* Sensor Icon */

.sensor__figure{
    width: 25%;
    height: 100%;
}

.sensor__img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}


.sensor__value{
    width: 75%;
    height: 100%;
    font-size: 3rem;
}


/* card styling */
.room__card{
    display: block;
    width: 80%;
    height: 80vh;
    margin: auto;
}

.temp__button{
    width: 50%;
    height: 3rem;
}

/* Table styling */

.table{

    background-color: #11A9FE21;

}

/* utility classes */

.u-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media query */
@media only screen and (max-width: 600px) {
    .page-header__img {
      display: none;
    }
  }